# IDE specific things
.vscode/
.devcontainer/devcontainer.json

# Build artifacts
dist
.tox
.mypy_cache
.pytest_cache
.ruff_cache
*.egg-info

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.DS_Store

# Local Python virtual environment
.venv*

# Tests / coverage reports
.coverage*
*.xml
*.log
licenses*

# Docker container ID
container

# Jupyter Notebook
*.ipynb_checkpoints

# lit/filecheck tmp Output folders and files
tests/filecheck/**/Output
.lit_test_times.txt

# Default output directory names
simulator_output
dump_output*

# Package manager lock file
uv.lock
